* {
  margin: 0px;
}

* > a, a:active, a:visited {
  color: white;
}

/* ========== MENU STYLES ========== */

.menu {
  position: fixed;
  top: 25%;
  left: 18%;
  z-index: 10;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Arial';
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.nav {
  text-decoration: none;
}

/* ========== SECTION STYLES ========== */

.section {
  display: flex;
  background: linear-gradient(to right, #3494e6, #ec6ead);
}

.left {
  display: inline-block;
  height: 100%;
  width: 20%;
}

.test {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.active {
  text-decoration: underline;
  color: white;
}



/* ========== CONTENT STYLES ========== */

.content {
  position: absolute;
  top: 47%;
  transform: translateY(-47%);
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  width: 100%;
  height: 75%;
  text-align: justify;
  font-family: 'Raleway';
  font-size: 20px;
  color: white;

  border: 1px solid white;
}

.keyword {
  font-family: 'Lobster', cursive;
  font-size: 36px;
  color: white;
}

/* ========== FOOTER STYLES ========== */

.footer {
  padding: 10px;
  text-align: center;
  font-family: 'Arial';
  font-size: 8px;
  color: lightgrey;
  background: #3C3C3B;
}
