/* PADDING/MARGINS RESET: */
  * { padding: 0; margin: 0; }
  body { font-family: sans-serif; }

/* GLOBAL STYLES: */

* > a, a:active, a:visited {
  color: white;
  text-decoration: none;
}

/* STRUCTURAL STYLES: */

body {
  background: linear-gradient(to bottom right, #3494e6, #49b257);
}

main {
  height: 100%;
  width: 1000px;
  margin: auto;
}

/* SECTION STYLES: */
/* grid controls page layout */

.wrapper {
  transform: translateY(18.5%);
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 700px 300px;
  grid-auto-rows: minmax(100px, auto);
}

article {
  grid-column: 1;
  grid-row: 1 / 8;


  border: 1px solid white;

  text-align: justify;
  font-family: 'Poppins';
  font-size: 1.25rem;
  line-height: 1.5;
  color: white;
}

article > p {
    padding: 20px;
}

.keyword {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  line-height: 1.5;
  color: white;
}

aside {
  grid-column: 2;
  grid-row: 1 / 8;
  /*background: teal;*/
}

/* MENU STYLES: */
